<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>salidas</key>
	<array>
		<string>06:10</string>
		<string>07:40</string>
		<string>09:10</string>
		<string>12:10</string>
		<string>13:40</string>
		<string>16:40</string>
	</array>
	<key>ruta</key>
	<string>lincoln</string>
	<key>llegadas</key>
	<array>
		<string>07:15</string>
		<string>08:45</string>
		<string>10:15</string>
		<string>13:15</string>
		<string>14:45</string>
		<string>17:45</string>
	</array>
	<key>regreso</key>
	<array>
		<string>12:45</string>
		<string>13:45</string>
		<string>15:15</string>
		<string>18:15</string>
		<string>21:15</string>
	</array>
	<key>salidasM</key>
	<array>
		<string>06:10</string>
		<string>08:40</string>
		<string>12:10</string>
		<string>13:40</string>
		<string>16:40</string>
	</array>
	<key>llegadasM</key>
	<array>
		<string>07:15</string>
		<string>09:45</string>
		<string>13:15</string>
		<string>14:55</string>
		<string>17:45</string>
	</array>
	<key>regresoM</key>
	<array>
		<string>13:45</string>
		<string>15:15</string>
		<string>18:15</string>
		<string>21:15</string>
	</array>
	<key>tiempo</key>
	<array>
		<string>00:00</string>
		<string>00:04</string>
		<string>00:13</string>
		<string>00:18</string>
		<string>00:19</string>
		<string>00:23</string>
		<string>00:35</string>
		<string>00:41</string>
		<string>00:55</string>
	</array>
</dict>
</plist>
